/*****************************************************************************************************
*****************************************************************************************************
global
*****************************************************************************************************
*****************************************************************************************************/

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.is-stretch {
  width: 100%;
  height: 100%;
}

.is-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-wrapper {
  position: relative;
}

.is-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card {
  margin: 1rem 0;
}

.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.tiny, .tiny * {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.transition * {
  transition: all 0.8s ease;
}

.hidden {
  opacity: 0;
}

.dead {
  display: none;
}

#main {
  background-color: #f5f5f5;
}

#app {
  max-width: 25rem;
}


/*****************************************************************************************************
*****************************************************************************************************
game
*****************************************************************************************************
*****************************************************************************************************/

#game {
  height: 25rem;
}

#game #intro img {
  width: 8rem;
  margin: 1rem;
}

#game #board{
  padding: 1rem;
}

#game #board .columns {
  background: url("../img/grid.svg");
}

#game #board .column {
  height: 33%;
}

#game #board .button {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

#game #board img {
  height: 100%;
  width: 100%;
}


/*****************************************************************************************************
*****************************************************************************************************
status
*****************************************************************************************************
*****************************************************************************************************/

#status {
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding: 0.5rem;
}

#status #back i {
  vertical-align: middle;
}


/*****************************************************************************************************
*****************************************************************************************************
dash
*****************************************************************************************************
*****************************************************************************************************/

#dash {
  height: 8rem;
}

#dash .dash-box {
  flex-direction: column;
  margin: 0 1rem;
}

#dash #select .dash-box .button {
  margin: 0.5rem;
  width: 8rem;
}

#dash #score .score {
  line-height: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 4rem;
}
