/*global*/

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.is-stretch {
  width: 100%;
  height: 100%;
}

.is-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem 0;
}

#main {
  background-color: #f5f5f5;
}


/*display*/

#display {
  height: 19rem;
  position: relative;
}

#display #progress{
  margin-top: 0.5rem;
}

#display #overlay {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
}

#display #input-box {
  margin-top: 2rem;
}
#display .splitter {
  width: 5rem;
}

#display .desc {
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#display .input {
  width: 100%;
  height: auto;
  line-height: 1;
  border: 0;
  box-shadow: none;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  padding: 0;
  font-size: 4rem;
  background: none;
}

#input-play {
  color: #7a7a7a;
}


/*controls*/

#buttons {
  margin-top: 1rem;
}
#buttons .button {
  color: #f44336;
}

/*counter*/

#counter {
  padding: 1rem;
  height: 3rem;
}

#counter .tomato{
  height: 1rem;
  margin: 0 0.5rem;
}
